body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background: #f5f5f5;
}

.calculator {
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 45px;
  font-size: 20px;
  text-align: right;
  padding: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

button {
  height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #ddd;
}

.equal {
  grid-column: span 2;
  background: #0d6efd;
  color: white;
}

.mode {
  margin-top: 10px;
  width: 100%;
  background: black;
  color: white;
}

/* DARK MODE */
.dark {
  background: #111;
  color: white;
}

.dark .calculator {
  background: #1e1e1e;
}

.dark button {
  background: #444;
  color: white;
}

.dark .equal {
  background: #ff4d8d;
}
.theme-toggle {
  position: fixed;
  top: 10px;
  right: 15px;
  background: #000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.dark .theme-toggle {
  background: #ff4d8d;
  color: black;
}
